<div class="container">
	{{#link-to 'bio'}}Bio{{/link-to}}
	{{#link-to 'expertise'}}Expertise{{/link-to}}
	{{#link-to 'clients'}}Clients{{/link-to}}
	{{#link-to 'contact'}}Contact{{/link-to}}
</div>

