<div class="container">
	<div class="flex-container space-between">
		<div><a href='mailto:discourse@rbroneak.com'>Email</a> <a href='https://www.linkedin.com/in/rbroneak'>Linked In</a></div>
		<div><a href="../">site in traditional html</a> <a href="../react">site in react.js</a></div>	
	</div>
</div>