<div class="container">
	{{#link-to 'bio' class="navbar-brand"}}Bio{{/link-to}}
	{{#link-to 'expertise' class="navbar-brand"}}Expertise{{/link-to}}
	{{#link-to 'clients' class="navbar-brand"}}Clients{{/link-to}}
	{{#link-to 'contact' class="navbar-brand"}}Contact{{/link-to}}
</div>

