.card {
	margin-top: 10px;
	padding: 5px 10px;
	border: 1px solid rgba($blue-sky , 0.25);
	width: 48%;
	text-align: center;
	background: rgba(white , 0.35);
	border-radius: 2px;
	@media (min-width: 600px) {
		width: auto;
		margin-right: 20px;
	}
}
.card-wrap {
	&.col-1-4 {
		.card {
			width: 100%;
		}
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		@media (min-width: 600px) {
			width: 50%;
		}
		@media (min-width: 800px) {
			width: 33.333%;
		}
		@media (min-width: 950px) {
			width: 25%;
		}
	}
	
}