{{#transition-group transition-class="SlideIn"}}
	<h1>{{model.title}}</h1>
	<h2>{{model.intro}}</h2>
	<hr>
	<section class="primary-content">
	{{#each model.contents.content as |item|}}
		<p>{{item}}</p>
	{{/each}}
	</section>
{{/transition-group}}