{{#transition-group transition-class="SlideIn"}}
	<h1>{{model.title}}</h1>
	<h2>{{model.intro}}</h2>
	<hr> 
	<section class="align-left-top primary-content">
		<div class="flex-wrap">
		{{#each model.list as |item|}}
			<div class="card">{{item}}</div>
		{{/each}}
		</div>
	</section>
{{/transition-group}}